<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="p-about"></div>
			</div>
			<div class="col-sm-7">
				<h4>"Il n'est jamais trop tard pour être ce que vous auriez dû être..." George Eliot</h4>

				<p>Un Bac Littéraire, un lycée hôtelier, plus de dix années d'expérience dans l'univers de l'hôtellerie-restauration...
					Et la volonté à 35 ans de redonner un nouveau souffle à ma carrière, pour reprendre en main ma vie.
					Après 8 mois intenses à cravacher pour me mettre à niveau, me voilà prêt pour de nouveaux défis.
					Web Developer, no award winner... Les débuts seront modestes, mais l'enthousiasme me guide déjà pour trouver enfin la voie du succès !</p>
			</div>
		</div>
	</div>
</section>