<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/img/h-loupe.png" alt="Icône de recherche" width="20px">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#" [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
                    </li>
                    <li>
                        <a href="about" [routerLink]="['about']" [routerLinkActive]="['is-active']">About</a>
                    </li>
                    <li>
                        <a href="skills" [routerLink]="['skills']" [routerLinkActive]="['is-active']">Skills</a>
                    </li>
                    <li>
                        <a href="contact" [routerLink]="['contact']" [routerLinkActive]="['is-active']">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>