<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<div class="p-skills"></div>
			</div>
			<div class="col-sm-7">
				<div class="skills">
					<p class="skl">MY SKILLS :</p>
					<p class="skl sklLine">_________</p>
					<div class="htmlProg ProgWidth">
						<div class="p">
							<p>html</p>
							<p>90%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar htmlBar"></span>
							</div>
						</div>
					</div>
					<div class="cssProg ProgWidth">
						<div class="p">
							<p>Css</p>
							<p>90%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar cssBar"></span>
							</div>
						</div>
					</div>
					<div class="jsProg ProgWidth">
						<div class="p">
							<p>JavaScript</p>
							<p>50%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar jsBar"></span>
							</div>
						</div>
					</div>
					<div class="phpProg ProgWidth">
						<div class="p">
							<p>PHP</p>
							<p>80%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar phpBar"></span>
							</div>
						</div>
					</div>
					<div class="symfoProg ProgWidth">
						<div class="p">
							<p>Symfony</p>
							<p>75%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar symfoBar"></span>
							</div>
						</div>
					</div>
					<div class="ngProg ProgWidth">
						<div class="p">
							<p>Angular</p>
							<p>60%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar ngBar"></span>
							</div>
						</div>
					</div>
					<div class="nodeProg ProgWidth">
						<div class="p">
							<p>Node.js</p>
							<p>35%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar nodeBar"></span>
							</div>
						</div>
					</div>
					<div class="sqlProg ProgWidth">
						<div class="p">
							<p>Sql</p>
							<p>50%</p>
						</div>
						<div class="pp">
							<div class="skillDiv">
								<span class="skillBar sqlBar"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>